.c__list {
  width: 100%;
  height: calc(100vh - 85px);
  display: flex;
  flex-direction: column;

  > .el-table {
    border: 1px solid #e6e6e6;
    border-bottom: 0;
  }

  .table-wrap {
    flex: 1;
    will-change: height;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  > .c__tool {
    padding: 15px 0 0 0;
    flex-shrink: 0;
  }

  .table-wrap .cell {
    font-size: 16px;
    color: #666666;
  }

  .table-header .cell {
    font-weight: bold;
    line-height: 34px;
    font-size: 14px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .el-table .cell.el-tooltip {
    font-size: 14px;

    font-weight: normal;
    color: #333333;
    padding-left: 10px;
  }

  // .el-table__header {
  //   border-bottom: 1px solid #e6e6e6;
  // }
}
